<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{fragment :: head-section}"></head>

<body>
    <link rel="stylesheet" href="/css/form.css">

    <header data-th-replace="~{fragment :: header-section}"></header>

    <main>
        <section>
            <div data-th-replace="~{fragment :: link-section(url='/blogs',name='Back to home')}"></div>

            <div class="form-container">
                <h2>Create blog</h2>
                <hr>
                <form action="/add-blog" method="post">
                    <div class="form-group">
                        <label for="input-1">Enter heading</label>
                        <input type="text" id="input-1" class="form-control" name="heading" data-th-value="${blog.heading}" required>
                    </div>

                    <div class="form-group">
                        <label for="input-2">Enter description</label>
                        <textarea id="input-2" rows="5" class="form-control" name="description" data-th-text="${blog.description}" required>
                        </textarea>
                    </div>
                    <input type="hidden" name="id" data-th-value="${blog.id}">
                    <input type="submit">
                </form>
            </div>
        </section>
    </main>
</body>

</html>